<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Grocery List</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
  </head>
<body>
<h1>Grocery List</h1>
<br/>

<form th:object="${insertItem}" method="post">
	<input id="item" type="text" th:field="*{item}"/>
	<button type="submit">Add</button>
</form>
<br/>

<div th:each="item : ${items}">
  <div>
  <h3><a th:href="${'/item/'+item.id}">Delete</a> | <span th:text="${item.item}">Item Name</span></h3>
  </div>
</div>
</body>
</html>
